---
import ExperienceItems from "./ExperienceItems.astro"

const experience = [
    {
        title: 'Mancruz - Burdeos Dogos',
        date: 'February 2024',
        description: 'This is my first and unique work experience at the moment. It is a website for a dog breeder. It is a simple website with a lot of information about the breed and the dogs. It is a static website built with HTML, CSS, some JS and Bootstrap.',
        link: 'https://mancruz.vercel.app/',
        badge: 'Latest Project'
    }
      
]
---


<ol class="relative border-s border-blue-400 dark:border-gray-700 ml-3">     
    
    {
        experience.map((experience) => (
             <li class="mb-10 ms-6">            
                <ExperienceItems {...experience} />
            </li>
        ))
    }
</ol>

